@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-karnak-light: var(--font-karnak-light);
  --font-karnak-condensed-black: var(--font-karnak-condensed-black);
  --font-googlesanscode-light: var(--font-googlesanscode-light);
  --font-play-bold: var(--font-play-bold);
  --font-askan-demibold: var(--font-askan-demibold);
  --font-karnak-pro-bold: var(--font-karnak-pro-bold);
  --font-corporatespro-medium: var(--font-corporatespro-medium);
  --font-robotoslab-medium: var(--font-robotoslab-medium);
  --font-robotoslab-bold: var(--font-robotoslab-bold);
}
